header{
    height: 100;
    background-color: black;
    border-bottom: rgb(246, 124, 144);
}
footer{
    height:100;
    background-color: blueviolet;
    border-bottom: black;
}
.header{
    color: rgb(245, 5, 5);
}
body{
    margin:0;
    padding:0;
}

